.header{
    height: 70px;
}

.notifiche{
    height: 80px;
}

.cerca{
    height: 60px;
}

.contatti{
    height: calc(100vh - 210px);
    overflow-y: auto;
}

#contatto{
    height: 80px;

}

.footer{
    height: 80px;
}

.pagina{
    height: calc(100vh - 150px);
    background-image: url(/img/mine.jpg);
    overflow-y: auto;
    padding: 0;
    margin: 0;

}


.container-messaggio-inviato{
    max-width: 150px;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.container-messaggio-ricevuto{
    max-width: 150px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
}

.messaggio-inviato{
    width: fit-content;
    max-width: 70%;
    height: fit-content;
    padding: 15px;
    border: 2px black solid;
    background-color: greenyellow;
    border-radius: 15px;
    display: flex;
    align-items: center;

    
}

.messaggio-ricevuto{
    width: fit-content;
    max-width: 70%;
    height: 15px;
    padding: 15px;
    border: 2px black solid;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    align-items: center;

    
}